:root {
  --primary-white: hsl(0, 0%, 100%);
  --primary-white-50: hsl(0, 0%, 89%);
  --primary-transparent-blue: hsla(240, 100%, 27%, 0.38);
  --primary-light-grey: hsl(240, 100%, 96%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/******************************* NAVBAR *******************************/

.navbar {
  background-color: var(--primary-transparent-blue) !important;
  -webkit-backdrop-filter: saturate(180%) blur(50px);
  backdrop-filter: saturate(50%) blur(20px);
  border-bottom: solid 1px var(--primary-light-grey);
}
.navbar-toggler {
  border: 0 !important;
}

.navbar-brand {
  -webkit-animation: navIconAnimate 1s both;
  animation: navIconAnimate 1s both;
}

.navbar-brand i {
  transform: rotate(45deg);
}

/*-------- MENU LINKS --------*/
/* nav a.nav-link {
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
} */

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white-50) !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  font-weight: 400;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a:hover {
  font-weight: 400;
  color: var(--primary-white) !important;
}

/* ------------ MEDIA ------------ */

@keyframes navIconAnimate {
  0% {
    transform: translateY(-2000px);
  }
  60% {
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
